<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/layout_style.css' %}">
    <script type="text/javascript" src="{%static 'scripts/layout_script.js'%}" defer></script>
    {% block header %}
        
    {% endblock %}
    <title>WalletTree | {% block pagename %}{% endblock %} </title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
<div class="parent">
    <div class="sidebar-container">
      <nav id="sidebar">
        <ul>
          <li>
            <a href="#">
              <span class="logo">
                WalletTree
              </span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="nav-icon dashboard-icon"></span>
              <span>home</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="nav-icon stocks-icon"></span>
              <span>stocks</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="nav-icon transactions-icon">
              </span>
              <span>transactions</span>
            </a>
          </li>

        </ul>
      </nav>
    </div>
    <div class="infobar-container">
      {% if request.user.is_authenticated %}
        hi {{request.user.username|lower}}
      {% else %}
      please login.
      {% endif %}
    </div>
    <div class="content-container">
    
      

    {% block body %}
        
    {% endblock %}

    </div>
</div>
    

  </body>
</html>