{% extends 'layout.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/singup.css' %}">


{% endblock %}
{% block pagename %}
    login
{% endblock %}

{% block body %}
    <div class="content-container">



        <form action="{% url 'main:login' %}" method="POST">
            {% csrf_token %}
            <div class="title">
                <h2><a href="{% url 'main:login' %}" id="active">login</a> | <a href="{% url 'main:signup' %}">signup</a></h2>
            </div>
            <label for="username">username</label>
            <input type="text" name="username">
            <label for="password">password</label>
            <input type="password" name="password">

            <button type="submit">submit</button>
                    {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <div class="message {{message.tags}}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        </form>
    </div>
{% endblock %}