:root{
    --background-color : #FFFCFC;
    --navbar-color:#444185;
    --highlight-color : #FFFCFC;
    --text-color: black;
    --dashboard-border-color: #322f5f;
;
}

body{
    background-color: var(--background-color);
    height: 100vh;
}


.layout-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
.navbar-container nav{
    display: flex;
    flex-direction: column;
    background-color: var(--navbar-color);
    width: 220px;;
    height: 100%;
}
.navbar-container nav ul{
    list-style-type: none;
}

        